{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List</h1>
    <!-- Walmart list -->
    {% if walmart_list|length != 0 %}
        <h2>Walmart<h2>
    {% endif %}
    <ul>
        {% for item in walmart_list %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>
    <!-- Broulim's list -->
    {% if broulims_list|length != 0 %}
        <h2>Broulim's<h2>
    {% endif %}
    <ul>
        {% for item in broulims_list %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>
    <!-- Albertsons list -->
    {% if albertsons_list|length != 0 %}
        <h2>Albertsons<h2>
    {% endif %}
    <ul>
        {% for item in albertsons_list %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>
{% endblock content %}