/*General*/
body {
    background-color: #3D52D5;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150px;
    margin-top: 40%;
    margin-bottom: 5%;
    color: #F4A615;
}

h2 {
    font-size: 100px;
    margin-bottom: 5%;
}

.btn {
    font-size: 30px;
    width: 200px;
    height: 60px;
    
}

/*Sub title*/
.sub-title {
    font-size: 45px;
    margin: 0;
}

/*Search*/
form {
    width: fit-content;
    height: 100px;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;

}

#search-form {
    margin-top: 20%;
}

.search {
    font-size: 60px;
    height: 120px;
}

#go-btn {
    height: 126px;
}


/*Nav*/
ul {
    list-style: none;
}

#nav {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50%;
    font-size: 35px;
}

#nav li {
    border-radius: 30px;
    background-color: #2B9EB3;
    height: 100px;
}

.nav-link {
    width: 350px;
    padding-top: 30px;
    padding-bottom: 0px;
}

#search-link {
    margin-right: 10%;
    margin-left: 5%;
}

#list-link {
    margin-left: 10%;
    margin-right: 15%;
}

a {
    color: white;
    text-decoration: none;
}

/*Shopping list*/
.store {
    font-size: 75px;
    margin-bottom: 5%;
    text-align: left;
    margin-left: 5%;
}

.store_list {
    margin-top: 2%;
}

.list_item {
    font-size: 20px;
    display: grid;
    grid-template-columns: 10% 65% 25%;
}

input.checkbox {
    width: 75px;
    height: 75px;
    margin-top: 10px;
}

/*Search Results*/
#click-here {
    color: #F4A615;
    text-decoration: underline;
}

/*Fields*/
.result-btn {
    margin-left: 165%;
}

/*Update Price*/
#update-price-title {
    font-size: 100px;
}

#update-price {
    margin-top: 20%;
}

.label {
    font-size: 80px;
}

.field {
    font-size: 80px;
    width: 40%;
}

.save {
    font-size: 80px;
}

/*Add Item*/
#add-item {
    margin-bottom: 85%;
    margin-top: 15%;
}

#add-item p {
    margin-bottom: 7%;
    margin-top: 7%;
}

#add-item .save {
    margin-top: 6%;
}

#add-item p label{
    font-size: 60px;
}

#add-item p input {
    font-size: 60px;
    margin-left: 20px;
}