{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List</h1>
    <!-- Walmart list -->
    {% if walmart_list|length != 0 %}
        <h2>Walmart<h2>
    {% endif %}
    <ul>
        {% for item in walmart_list %}
            <li> {{ item }} </li>
            <form action="/update-price/" method="GET">
                <input type="hidden" name="store" value="Walmart"/>
                <input type="hidden" name="item" value="{{ item }}"/>
                <input type="submit" value="Update Price"/>
            </form>
        {% endfor %}
    </ul>
    <!-- Broulim's list -->
    {% if broulims_list|length != 0 %}
        <h2>Broulim's<h2>
    {% endif %}
    <ul>
        {% for item in broulims_list %}
            <li> {{ item }} </li>
            <form action="/update-price/" method="GET">
                <input type="hidden" name="store" value="Broulims"/>
                <input type="hidden" name="item" value="{{ item }}"/>
                <input type="submit" value="Update Price"/>
            </form>
        {% endfor %}
    </ul>
    <!-- Albertsons list -->
    {% if albertsons_list|length != 0 %}
        <h2>Albertsons<h2>
    {% endif %}
    <ul>
        {% for item in albertsons_list %}
            <li> {{ item }} </li>
            <form action="/update-price/" method="GET">
                <input type="hidden" name="store" value="Albertsons"/>
                <input type="hidden" name="item" value="{{ item }}"/>
                <input type="submit" value="Update Price"/>
            </form>
        {% endfor %}
    </ul>
{% endblock content %}